<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Client/ClientStyle.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        BaggageWeb.Models.ModelView.MemberView item = (BaggageWeb.Models.ModelView.MemberView)Session["acc"];
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content")/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content")/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content")/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content")/css/custom.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("ProductList", "Member")">Product </a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("OrderList","Member")">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="@Url.Action("MemberInfo", "Member")">My Account</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a href="@Url.Action("OrderList","Member")">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge">3</span>
                                <p>My Order</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

            </div>
            <!-- End Side Menu -->
            @if (item!=null)
            {
                if (item.Id != 0)
                {
                    if (item.IdAuthentication == 1)
                    {
                        <div class="mx-3">
                            <a href="@Url.Action("index", "Admin")">back to Admin Page</a>
                        </div>
                    }
                }
            }
            <div class="mx-3">
                <a href="@Url.Action("MemberInfo", "Member")" class="nav-item">My Account</a>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <div>
        @RenderBody()
    </div>
    <div class="footer-copyright">
        <p class="footer-company">
            All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a>
        </p>
    </div>
    <!-- End copyright  -->
    <!--Modal-->
    <!-- Button trigger modal -->

    <!-- Modal -->

    <!--EndModal-->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="@Url.Content("~/Content/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Content/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- ALL PLUGINS -->
    <script src="@Url.Content("~/Content/js/jquery.superslides.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-select.js")"></script>
    <script src="@Url.Content("~/Content/js/inewsticker.js")"></script>
    <script src="@Url.Content("~/Content/js/bootsnav.js.")"></script>
    <script src="@Url.Content("~/Content/js/images-loded.min.js")"></script>
    <script src="@Url.Content("~/Content/js/isotope.min.js")"></script>
    <script src="@Url.Content("~/Content/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/js/baguetteBox.min.js")"></script>
    <script src="@Url.Content("~/Content/js/form-validator.min.js")"></script>
    <script src="@Url.Content("~/Content/js/contact-form-script.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
</body>
</html>
